<!DOCTYPE html>
<html>
<%- partial('partial/includes.ejs') %>

    <body>
        <%- partial('partial/header.ejs') %>
            <div class='row'>
                <%- partial('partial/sidebar.ejs') %>
                    <aside class='content'>
                        <%- body %>
                    </aside>
            </div>
    </body>

</html>