<div class="post">
    <h1>
        <%- page.title %>
    </h1>
    <h3>
        <%- page.date.format("MMMM Do YYYY") %>
    </h3>

    <div class="readable blogPostReadable">
        <%- page.content %>
    </div>
</div>