<script>
    function showSidebar() {
        document.getElementById("mobile-nav").style.width = "50%";
    }

    function closeNav() {
        document.getElementById("mobile-nav").style.width = "0";
    }
</script>

<button onclick="showSidebar()" class="float">
    <div class="menu-bar-icon-container">
        <div class="menu-bar-icon"></div>
        <div class="menu-bar-icon"></div>
        <div class="menu-bar-icon"></div>
    </div>
</button>