card-header {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

header .title {
    flex-grow: 2;
}

header .date {
    flex-grow: 1;
    align-self: center;
}

.post {
    background-color: #f8f8ff;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
    border-color: #6269e5;
    min-height: 80%;
    margin: 10px;
}