card-header {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .title {
    flex-grow: 2;
}

header .date {
    flex-grow: 1;
    align-self: center;
}

.post {
    background-color: #f8f8ff;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    /* padding: 20px; */
    border-color: #6269e5;
    /* min-height: 80%; */
    margin: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.blogPostReadable p {
    margin: 10px 5px 10px 5px;
}


/* Image Styling */

.blogPostReadable img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.galleryImage {
    max-width: 100% !important;
    height: auto !important;
}

.imageLink {
    text-decoration: none !important;
    border: none !important;
    width: 50%;
    padding: 0 !important;
}