* {
    padding: 0;
    margin: 0;
    font-family: 'Cutive Mono', monospace;
}

body {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.row {
    flex: 1 1 auto;
    background: white;
    display: flex;
}

.main-header {
    background: black;
    color: white;
    flex: 0 0 auto;
}

.readable {
    padding-left: 5%;
    text-align: left;
}

.feed {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.card {
    max-width: 100%;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
    border-color: #6269e5;
    text-align: left;
}

.card p {
    margin: 5px;
    margin-bottom: 10px;
}

.card a {
    text-decoration: none;
    border-radius: 5px;
    border-style: solid;
    border-color: #6269e5;
    border-width: 1px;
    padding: 5px;
    margin-left: 80%;
}

.card a:hover {
    background: #e2e2e2;
    border-width: 0px;
}

.main-footer {
    background: #7BAFD4;
    flex: 0 0 auto;
}


/* Side Menu Elements */

.primary-sidebar {
    background: #62aae5;
    flex: 0 0 auto;
    width: 20%;
}

.side-menu-item {
    width: 100%;
    background: #62aaf0;
    opacity: 0.6;
    padding-top: 10%;
    padding-bottom: 10%;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.side-menu-item:hover {
    font-weight: bolder;
    background: #5690e2;
}

.side-menu-item-active {
    font-weight: bold;
    background: #5690e2;
}


/* End of Side Menu Elements */

.banner {
    margin-top: 25%;
}

.content {
    flex: 1 1 auto;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.jesse-akes {
    position: relative;
}

.centered-img-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    color: white;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto;
    /* display: block; */
    margin: auto;
}

pre {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 10px;
}